#imagen {
    height: 300px;
}
#imagen {
    background-color:black;
    padding: 15px;
}
#imagen:hover{
    background-color: blue;
}
.total {
    background-color: grey;
}
.container {
    margin: 40px;
    padding: 8px;
    height: 39px;
    border: 30px;
}

.container h1 {
    position: absolute;
    bottom: 46%;
    left: 18%;
}
#total {
    display: flex;
}

.container p {
    position: absolute;
    bottom: 39%;
    left: 18%;
}
.container p {
    width: 500px;
}
.container2 {
    margin: 40px;
    padding: 15px;
    height: 39px;
    border: 30px;
}
#imagen2 {
    padding: 15px;
}

#imagen2 {
    position: absolute;
    left: 60%;
    bottom: 53%;
}
#imagen2 {
    width: 500px;
    height: 300px;
}
#imagen2{
    background-color: black;
}
#imagen2:hover {
    background-color: blue;
}
.container2 h1 {
    position: absolute;
    left: 60%;
    bottom: 46%;
}
.container2 p {
    position: absolute;
    left: 60%;
    bottom: 41%;
}
.container2 p {
    width: 500px;
}

#imagen {
    position: absolute;
    left: 18%;
    bottom: 53%;
}
.header {
    height: 40px;
    padding-inline: 50px;
    padding-bottom: 550px;
    font-size: xx-large;
}
.header {
    background-color: white;
}
#time {
    position: absolute;
    bottom: 51%;
    left: 18%;
}
#time {
    text-decoration: underline;
    color: grey;
}
#time2 {
    position: absolute;
    left: 60%;
    bottom: 51%;
    color:grey;
    text-decoration: underline;
}

#imagen3 {
    position: absolute;
    left: 35%;
    bottom: -7%;
    width: 600px;
    padding: 15px;
    background-color: black;
}
#imagen3:hover {
    background-color: blue;
}
.container3 h1 {
    position: absolute;
    left: 35%;
    bottom: -15%;
}

.container3 p {
    position: absolute;
    left:35%;
    bottom: -22%;
    width: 500px;
}
#header2 {
    position: absolute;
    left: 45%;
    bottom: 33%;
    font-size: xx-large;
}
#header2 {
    padding-inline: 50px;
    background-color: white;
}

.header h1 {
    position: absolute;
    left: 38%;
    bottom: 85%;
    background-color: black;
    color: white;
}
#time3 {
    position: absolute;
    left: 35%;
    bottom: -10%;
    color: lightgray;
    text-decoration: underline;
}